*, *::before, *::after, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: ""; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  max-width: 2000px;
  margin: auto; }
  .container header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 20px;
    color: white;
    background: url(images/jump-1461111_1920.jpg);
    background-attachment: fixed;
    height: 100vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .container header:before {
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      width: 100%;
      height: 100%;
      background: -webkit-radial-gradient(50% 100%, ellipse, rgba(92, 143, 128, 0.7) 60%, #1a7470 100%);
      background: -o-radial-gradient(50% 100%, ellipse, rgba(92, 143, 128, 0.7) 60%, #1a7470 100%);
      background: radial-gradient(ellipse at 50% 100%, rgba(92, 143, 128, 0.7) 60%, #1a7470 100%); }
    .container header #particles-js {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%; }
    .container header .box_socialheader {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -ms-flex-item-align: end;
      align-self: flex-end;
      margin-right: 15%;
      width: 200px;
      font-size: 1em;
      margin-top: 60px; }
      .container header .box_socialheader > div:first-child {
        padding: 0 3px; }
      .container header .box_socialheader > div {
        border-radius: 50%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.3); }
        .container header .box_socialheader > div > span {
          display: block;
          padding: 10px; }
    .container header > h1 {
      position: relative;
      width: 40%;
      margin-top: 60px;
      border-radius: 10px;
      line-height: 3;
      font-size: 2em;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.3); }
      @media screen and (max-width: 1100px) {
        .container header > h1 {
          width: 70%;
          margin-bottom: 0; } }
      @media screen and (max-width: 650px) {
        .container header > h1 {
          width: 90%; } }
      @media screen and (max-width: 470px) {
        .container header > h1 {
          line-height: 2; } }
    .container header nav.main_nav {
      position: relative;
      width: 80%;
      margin-top: 60px; }
      @media screen and (max-width: 860px) {
        .container header nav.main_nav {
          width: 90%; } }
      .container header nav.main_nav > ul.ul_main {
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .container header nav.main_nav > ul.ul_main > li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          border-radius: 10px;
          margin: 2px;
          padding: 10px;
          width: 33.33%;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          text-align: center;
          background-color: rgba(0, 0, 0, 0.2); }
          .container header nav.main_nav > ul.ul_main > li > a[class="nav home"], .container header nav.main_nav > ul.ul_main > li [class="nav bloc"], .container header nav.main_nav > ul.ul_main > li [class="nav secu"] {
            display: block;
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
            border-radius: 50%;
            border: 3px solid white;
            padding: 20px;
            margin-bottom: 20px;
            font-size: 2.5em; }
          .container header nav.main_nav > ul.ul_main > li > a > span {
            display: block; }
            @media screen and (max-width: 450px) {
              .container header nav.main_nav > ul.ul_main > li > a > span {
                font-size: 8vw; } }
          @media screen and (max-width: 520px) {
            .container header nav.main_nav > ul.ul_main > li {
              padding: 10px 0; } }
          .container header nav.main_nav > ul.ul_main > li > a {
            text-decoration: none;
            font-weight: bold;
            color: White; }
            @media screen and (max-width: 550px) {
              .container header nav.main_nav > ul.ul_main > li > a {
                font-size: 3vw; } }
          .container header nav.main_nav > ul.ul_main > li > a:first-child:hover + a {
            position: relative; }
            .container header nav.main_nav > ul.ul_main > li > a:first-child:hover + a:before {
              position: absolute;
              bottom: 0;
              left: 0;
              content: "";
              display: block;
              width: 100%;
              height: 3px;
              background-color: white; }
          .container header nav.main_nav > ul.ul_main > li > a:nth-child(2) {
            position: relative;
            width: 100%;
            padding-bottom: 10px; }
            .container header nav.main_nav > ul.ul_main > li > a:nth-child(2):before {
              position: absolute;
              bottom: 0;
              content: "";
              display: block;
              width: 0;
              height: 3px;
              -webkit-transition: all .3s;
              -o-transition: all .3s;
              transition: all .3s;
              left: 50%;
              background-color: white; }
            .container header nav.main_nav > ul.ul_main > li > a:nth-child(2):hover:before {
              width: 100%;
              left: 0; }
          .container header nav.main_nav > ul.ul_main > li > p {
            margin: auto;
            padding: 10px 20px 0 20px;
            width: 100%; }
            @media screen and (max-width: 800px) {
              .container header nav.main_nav > ul.ul_main > li > p {
                display: none; } }
